/* - - - - - - - - - - - - - - - - - */
/* 01 - R E S E T */
/* - - - - - - - - - - - - - - - - - */
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}
/* - - - - - - - - - - - - - - - - - */
/* 02 - F O N T S*/
/* - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* - - - - - - - - - - - - - - - - - */
/* 03 - V A R I A B L E S */
/* - - - - - - - - - - - - - - - - - */
:root {
    --color-1: #fe6c1e;
    --color-2: #ffffff;
    --font-bd: Poppins, sans-serif;
}
/* - - - - - - - - - - - - - - - - - */
/* 04 - G E N E R A L */
/* - - - - - - - - - - - - - - - - - */
body {
    color: var(--color-2);
    font-family: var(--font-bd);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 0.8rem;
            align-items: center;
            h1 {
                font-size: 3rem;
                font-weight: 400;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                span {
                    border-radius: 50px;
                    background-color: var(--color-2);
                    color: var(--color-1);
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                }
               
            }
            h2 {
                font-size: 1.4rem;
                font-weight: 600;
            }
            h3 {
                font-size: 1rem;
                font-weight: 400;
                border-radius: 50px;
                background-color: var(--color-1);
                color: var(--color-2);
                padding: 8px 16px;
            }
            img {
                border-radius: 50%;
                border: 8px solid #c95a1e;
                outline: 3px solid #ffffff;
                height: 200px;
                object-fit: cover;
                width: 200px;
            }
        }
        menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.5rem;
            justify-content: center;
            gap: 1rem;
           a:is(:link, :visited){
            border-radius: 50px;
            background-color: #fd8747;
            color: var(--color-2);
            display: flex;
            padding: 0.6rem;
            text-decoration: none;
            transition: all 0.4s ease-in;
            gap: 0.6rem;
            width: 240px;
            border: 2px solid #ffffff;
        } 
        a:is(:hover) {
            background-color: #c95a1e;
            transform: scale(1.05) translateY(-4px);
        }   
        span {
            border-radius: 20px;
            background-color: var(--color-2);
            color: var(--color-1);
            font-weight: 600;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - */
/* 05 - M A I N  M E N U */
/* - - - - - - - - - - - - - - - - - */
body.main-menu {
    background-color: #FFF809;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23ffba07'%3E%3Cpolygon points='1000 -50 0 -50 500 450'/%3E%3Cpolygon points='550 500 1050 1000 1050 0'/%3E%3Cpolygon points='-50 0 -50 1000 450 500'/%3E%3Cpolygon points='0 1050 1000 1050 500 550'/%3E%3C/g%3E%3Cg fill='%23ff7c05'%3E%3Cpolygon points='1000 -133.3 0 -133.3 500 366.7'/%3E%3Cpolygon points='633.3 500 1133.3 1000 1133.3 0'/%3E%3Cpolygon points='-133.3 0 -133.3 1000 366.7 500'/%3E%3Cpolygon points='0 1133.3 1000 1133.3 500 633.3'/%3E%3C/g%3E%3Cg fill='%23ff3e02'%3E%3Cpolygon points='1000 -216.7 0 -216.7 500 283.3'/%3E%3Cpolygon points='716.7 500 1216.7 1000 1216.7 0'/%3E%3Cpolygon points='-216.7 0 -216.7 1000 283.3 500'/%3E%3Cpolygon points='0 1216.7 1000 1216.7 500 716.7'/%3E%3C/g%3E%3Cg fill='%23FF0000'%3E%3Cpolygon points='1000 -300 0 -300 500 200'/%3E%3Cpolygon points='800 500 1300 1000 1300 0'/%3E%3Cpolygon points='-300 0 -300 1000 200 500'/%3E%3Cpolygon points='0 1300 1000 1300 500 800'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='%23FFD46D' points='0 707.1 0 292.9 292.9 0 707.1 0 1000 292.9 1000 707.1 707.1 1000 292.9 1000'/%3E%3Cg fill='%23ff9f52'%3E%3Cpolygon points='464.6 -242.5 -242.5 464.6 464.6 464.6'/%3E%3Cpolygon points='535.4 464.6 1242.5 464.6 535.4 -242.5'/%3E%3Cpolygon points='-242.5 535.4 464.6 1242.5 464.6 535.4'/%3E%3Cpolygon points='535.4 1242.5 1242.5 535.4 535.4 535.4'/%3E%3C/g%3E%3Cg fill='%23ff6a37'%3E%3Cpolygon points='405.7 -301.4 -301.4 405.7 405.7 405.7'/%3E%3Cpolygon points='594.3 405.7 1301.4 405.7 594.3 -301.4'/%3E%3Cpolygon points='-301.4 594.3 405.7 1301.4 405.7 594.3'/%3E%3Cpolygon points='594.3 1301.4 1301.4 594.3 594.3 594.3'/%3E%3C/g%3E%3Cg fill='%23ff351b'%3E%3Cpolygon points='346.8 -360.3 -360.3 346.8 346.8 346.8'/%3E%3Cpolygon points='653.2 346.8 1360.3 346.8 653.2 -360.3'/%3E%3Cpolygon points='-360.3 653.2 346.8 1360.3 346.8 653.2'/%3E%3Cpolygon points='653.2 1360.3 1360.3 653.2 653.2 653.2'/%3E%3C/g%3E%3Cg fill='%23FF0000'%3E%3Cpolygon points='287.9 -419.2 -419.2 287.9 287.9 287.9'/%3E%3Cpolygon points='712.1 287.9 1419.2 287.9 712.1 -419.2'/%3E%3Cpolygon points='-419.2 712.1 287.9 1419.2 287.9 712.1'/%3E%3Cpolygon points='712.1 1419.2 1419.2 712.1 712.1 712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;
}