table(border=1)
    thead
        tr
            th FullNames
            th Phones
        tbody 
            tr
                td Homer Simpson
                td 5555-5555
            tr
                td Marge Simpson
                td 6666-6666
            tr
                td Bart Simpson
                td 8989-8989